@font-face {
  font-family: "Lato";
  font-weight: 900;
  font-style: normal;
  src: local("Lato"),
    url("../assets/fonts/Lato-Black.woff2") format('woff2'),
    url("../assets/fonts/Lato-Black.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  src: local("Lato"),
    url("../assets/fonts/Lato-Bold.woff2") format('woff2'),
    url("../assets/fonts/Lato-Bold.woff") format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Lato";
  font-weight: 400;
  font-style: normal;
  src: local("Lato"),
    url("../assets/fonts/Lato-Regular.woff2") format('woff2'),
    url("../assets/fonts/Lato-Regular.woff") format('woff');
  font-display: swap;
}

