html, body {
  font-family: Lato, sans-serif;
  color: #424551;
  line-height: 160%;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1260px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main {

}

.main__about {
  padding: 180px 0 160px;
}

.main__directions {
  padding-bottom: 180px;
}

.main__certificate {
  margin-bottom: -46px;
}

.main__team {
  padding: 160px 0 180px;
}

.button {
  display: inline-block;
  letter-spacing: 0.5px;
  line-height: 52px;
  font-weight: 700;
  padding: 0 40px;
  color: #fff;
  border-radius: 4px;
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  white-space: nowrap;
  transition: 0.3s
}

.button:hover {
  transform: scale(1.1);
}

.button-empty {
  background-image: none;
  border-left: 2px solid #FF3F3A;
  border-right: 2px solid #F75E05;
  background-image: -webkit-linear-gradient(left, #FF3F3A, #F75E05), -webkit-linear-gradient(left, #FF3F3A, #F75E05);
  background-image: linear-gradient(left, #FF3F3A, #F75E05), linear-gradient(left, #FF3F3A, #F75E05);
  background-size: 100% 2px;
  background-position: 0 100%, 0 0;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.button-empty span {
  background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
  -webkit-background-clip: text;
  /* everything is fine */
  -webkit-text-fill-color: transparent;
}

.logo {}

.heading {
  color: #1E212C;
}

.heading--text-center {
  text-align: center;
}

.heading__subtitle {
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1px;
  margin-bottom: 8px;
  text-transform: uppercase;
}

.heading__title {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
}

/* ================================== NAVIGATION ===================================*/
/* ================================== NAVIGATION ===================================*/
/* ================================== NAVIGATION ===================================*/

.header {
  font-weight: 700;
  background: url(/assets/decor/shapes-bg.svg) 50% 30% / cover no-repeat, linear-gradient(55.95deg, rgba(255, 63, 58, .2) 0%, rgba(247, 94, 5, .2) 100%);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header__logo {
  margin-right: 60px;
}

.header__nav {
  margin-right: auto;
}

.header__nav-list {
  display: flex;
}

.header__nav-item {
  margin-right: 40px;
}

.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-link {
  line-height: 1.6;
  white-space: nowrap;
  transition: all .3s;
}

.header__nav-link:hover, .header__user-btn:hover {
  color: #FF3F3A;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-button {
  margin-right: 36px;
}

.header__user-nav {
  position: relative;
  padding-left: 28px;
}

.header__user-nav::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background: url(../assets/icons/person.svg) no-repeat;
  width: 20px;
  height: 20px;
  display: block;
}

.header__user-btn {
  white-space: nowrap;
  line-height: 1.6;
  transition: all .3s;
}

/* ==================================== HEADER =================================*/
/* ==================================== HEADER =================================*/
/* ==================================== HEADER =================================*/

.header__body {
  flex-grow: 1;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__play {
  display: inline-flex;
  align-items: center;
  margin-bottom: 24px;
}

.header__play img {
  margin-right: 16px;
  transition: 0.3s;
  border-radius: 50%;
}

.header__play img:hover {
  box-shadow: 0 0 0 16px rgba(255, 63, 58, 0.12);
}

.header__title {
  font-size: 64px;
  font-weight: 900;
  line-height: 130%;
  letter-spacing: 1px;
  max-width: 500px;
  margin-bottom: 60px;
}

.header__content-buttons {
  display: flex;
}

.header__content-btn:first-child {
  margin-right: 24px;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1E212C;
  margin-bottom: 80px;
}

.header__row>span {
  background: #FF3F3A;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 0 15px;
}

.header__row-item {
  display: flex;
  align-items: center;
}

.header__row-item span {
  font-size: 46px;
  font-weight: 900;
  line-height: 130%;
  margin-right: 12px;
}

/* ================================ ABOUT =====================================*/
/* ================================ ABOUT =====================================*/
/* ================================ ABOUT =====================================*/

.about {
  
}

.about__inner {}

.about__createx {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 180px;
  position: relative;
}

.about__createx::before {
  content: "";
  position: absolute;
  top: -95px;
  right: -250px;
  background: url(../assets/decor/rounded_arrows.svg);
  width: 100px;
  height: 85px;
}

.about__createx-content {
  max-width: 600px;
  margin-right: 30px;
}

.about__heading {
  margin-bottom: 48px;
}

.about__text {
  margin-bottom: 60px;
}

.about__paragraph {
  margin-bottom: 24px;
}

.about__paragraph:last-child {
  margin-bottom: 0;
}

.about__paragraph--accent {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  color: #1E212C;
}

.about__btn-box {
  display: flex;
}

.about__btn:first-child {
  margin-right: 24px;
}

.about__values {
  display: flex;
  justify-content: space-between;
}

.about__image-box {
  border-radius: 4px;
  overflow: hidden;
}

.about__image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__numbers {
  margin-left: 30px;
  align-self: center;
}

.about__number {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about__number:last-child {
  margin-bottom: 0;
}

.about__number span {
  font-weight: 900;
  font-size: 48px;
  line-height: 130%;
  letter-spacing: 0.02em;
  color: #ff3f3a;
  margin-right: 16px;
}

/* ===================================== DIRECTIONS ================================*/
/* ===================================== DIRECTIONS ================================*/
/* ===================================== DIRECTIONS ================================*/


.directions {
  
}

.directions__inner {
  position: relative;
}

.directions__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: 30px;
  left: -190px;
  width: 136px;
  height: 115px;
  background: url(../assets/decor/Group_of_circles.svg);
}

.directions__inner::after {
  content: '';
  display: block;
  position: absolute;
  top: 400px;
  right: -450px;
  width: 243px;
  height: 243px;
  background: url(../assets/decor/3.svg);
  opacity: 0.12;
}

.directions__heading {
  margin-bottom: 90px;
}

.directions__body {}

.directions__filter-box {
  display: flex;
  gap: 45px;
  margin-bottom: 56px;
}

.directions__filter-btn {
  background-color: transparent;
  color: #9a9ca5;
  border: 1px solid #9a9ca5;
  border-radius: 4px;
  font-weight: 700;
  line-height: 1;
  padding: 6px 8px;
  font-size: 16px;
  transition: 0.3s;

}

.directions__filter-btn:hover {
  transform: scale(1.2);
}

.directions__filter-btn--active {
  background: linear-gradient(45deg, #ff3f3a 0%, #f75e05 100%);
  border: none;
  color: #ffffff;
}

.directions__list {
  display: grid;
  grid-template: repeat(2, auto) / repeat(3, 1fr);
  gap: 30px;
}

.directions__list-item {}

.directions__list-link {
  display: block;
  border-radius: 4px;
  overflow: hidden;
  transition: all 1s;
}

.directions__list-link:hover {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  background: #fff;
  transition: all .3s;
}

.directions__list-link:hover .directions__link-btn {
  color: #FF3F3A;
  transition: all .3s;
}

.directions__link-content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e8ed;
  border-radius: 0 0 4px 4px;
  border-top: none;
}

.directions__image-box img {
  width: 100%;
  height: 100%;
}

.directions__link-tag {
  line-height: 1;
  font-weight: 700;
  color: #fff;
  padding: 6px 8px;
  border-radius: 4px;
  align-self: flex-start;
  margin-bottom: 20px;
}

.directions__link-text {
  color: #787a80;
  margin-bottom: 20px;
}

.directions__link-btn {
  font-weight: 700;
  color: #1e212c;
  display: flex;
}

.directions__link-btn::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url(../assets/icons/Arrow_right.svg) 0 2px / 100% no-repeat;
  margin-left: 11px;
}


.directions__list-item--empty {
  background: #f4f5f6;
  border-radius: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #424551;
}

.directions__list-item--empty span {
  max-width: 240px;
}


.directions__list-item--marketing .directions__link-tag {
  background-color: #03cea4;
}

.directions__list-item--managment .directions__link-tag {
  background-color: #5a87fc;
}

.directions__list-item--hr .directions__link-tag {
  background-color: #f89828;
}

.directions__list-item--design .directions__link-tag {
  background-color: #f52f6e;
}

.directions__list-item--development .directions__link-tag {
  background-color: #7772f1;
}

/* ================================= CERTIFICATE ====================================*/
/* ================================= CERTIFICATE ====================================*/
/* ================================= CERTIFICATE ====================================*/

.main__certificate {
  
}
.certificate {
}
.container {
}
.cerificate__inner {
  display: flex;
  gap: 126px;
  position: relative;
}

.cerificate__inner::before {
  content: '';
  display: block;
  position: absolute;
  top: -20px;
  left: -167px;
  width: 60px;
  height: 60px;
  background: url(../assets/decor/arrows.svg);
}

.certificate__content {
}
.certificate__heading {
  max-width: 400px;
  margin-bottom: 48px;
}
.certificate__text {
  max-width: 400px;
  margin-bottom: 32px;
}
.certificate__logos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 30px;
}
.certificate__logos-item {
}
.certificate__image-box {
  box-shadow: 0 4px 4px -4px rgba(30, 33, 44, 0.05), 0 12px 10px -6px rgba(30, 33, 44, 0.08), 0 26px 24px -10px rgba(30, 33, 44, 0.1), 0 60px 80px -20px rgba(30, 33, 44, 0.16);
  border-radius: 4px;
  overflow: hidden;
  border: none;
}

/* ================================= TEAM ====================================*/
/* ================================= TEAM ====================================*/
/* ================================= TEAM ====================================*/

.team {
  background: #f4f5f6;
}
.container {
}
.team__inner {
}
.team__heading {
  margin-bottom: 60px;
  position: relative;
}
.heading {
}
.heading__subtitle {
}
.heading__title {
}

.team__slider {
}

.team__slider .slick-list {
  margin: 0 -15px;
}

.team__slide {
  padding: 0 15px;
}

.team__slide:hover .team__socials-list {
  transform: translateY(0%);
}

.team__img-box {
  border-radius: 4px;
  margin-bottom: 16px;
  position: relative;
  overflow: hidden;
}
.team__image {
  position: relative;
  height: 340px;
  overflow: hidden;
}

.team__image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.team__socials-list {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  padding: 20px;
  gap: 12px;
  background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1e212c 100%);
  transform: translateY(50%);
  transition: all .3s;
}
.team__socials-item {
}

.team__socials-link  {
  display: block;
  line-height: 0;
}

.team__socials-link path {
  transition: all .3s;
}

.team__socials-link:hover path {
  fill: #fff;
}

.team__info {
}
.team__info-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
}
.team__info-position {
  text-align: center;
  color: #787a80;
}

.team__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
}

.team__slider-arrows {
  display: flex;
}

.team__slider-arrow {
  display: block;
  line-height: 0;
  border-radius: 50%;
  position: relative;
  z-index: 5;
}

.team__slider-arrow path {
  transition: all .3s;
}

.team__slider-arrow::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 48px;
  height: 48px;
  background-color: #FF3F3A;
  border-radius: 50%;
  z-index: -1;
  transition: all .3s;
}

.team__slider-arrow:hover path {
  fill: #fff;
}

.team__slider-arrow:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.team__slider-prev {
  margin-right: 24px;
}

.team__slider-next {}